.sus-salaries {
  font-family: LFT Etica;
  color: #333;
}

.sus-salaries__container {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sus-salaries__map {
  width: 100%;
  position: relative;
}

.sus-salaries__map__canada {
  width: 100%;
  height: auto;
}

.sus-salaries__map__insert {
  position: absolute;
  top: 58%;
  left: 48%;

  width: 37.5%;

  border: 1px solid black;
}

.sus-salaries__map__insert img {
  display: block;
  width: 100%;
  height: auto;
}

.sus-salaries__map__legend {
  position: absolute;
  left: 3%;
  bottom: 6%;
}

.sus-salaries__map__legend h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 600;
}

.sus-salaries__map__legend ul {
  display: inline-block;
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-size: 13px;
}

.sus-salaries__map__legend ul li {
  display: inline-block;
  padding-top: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-radius: 5px;
  color: #888888;
  background: #f7f7f7;
}

.sus-salaries__map__legend ul li:hover,
.sus-salaries__map__legend ul li.active {
  color: #fff;
  background-color: #333;
}

.sus-salaries__map__legend ul li:last-child {
  border-right: none;
}

.sus-salaries__schools-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 66.625%;
  overflow: hidden;
}

.sus-salaries__schools {
  position: absolute;
  top: 0;
  left: 0;
}

.sus-salaries__schools circle {
  opacity: 0.85;
}

.sus-salaries__schools circle:hover {
  opacity: 0.95;
}

.sus-salaries__schools__tooltip {
  position: absolute;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  color: white;
  border-radius: 4px;
  z-index: 200;
}

.sus-salaries__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}

.sus-salaries__table__flex {
  display: flex;
}

.sus-salaries__table__icon {
  margin-right: 8px;
}

.sus-salaries__table__icon > span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.sus-salaries__table__school {
  font-weight: 600;
  flex: 1;
}

.sus-salaries__table__sort {
  display: inline-block;
  width: 10px;
  height: 7px;
  margin-left: 5px;
  background-image: url('dist/images/caret.png');
  background-size: 100%;
  visibility: hidden;
}

.sus-salaries__table__sort--desc,
.sus-salaries__table__sort--asc,
.sus-salaries__table th:hover .sus-salaries__table__sort
{
  visibility: visible;
}

.sus-salaries__table__sort--asc {
  transform: rotate(180deg);
}

.sus-salaries__table td,
.sus-salaries__table th {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.sus-salaries__table td:first-child,
.sus-salaries__table th:first-child {
  padding-left: 10px;
}

.sus-salaries__table th {
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 600;
  cursor: pointer;
}

.sus-salaries__table th > span {
  vertical-align: middle;
}

.sus-salaries__table th:hover {
  background-color: #fbfbfb;
}

.sus-salaries__table td {
  padding-top: 10px;
  padding-bottom: 8px;
  border-top: 1px solid #e6e6e6;
}
